{% extends "layouts.html" %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1>Evaluation Details</h1>
            <!-- <a href="/" class="btn btn-link mb-3">Back to Summary</a> -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Question ID</th>
                    <th>Question</th>
                    {% if module_type == 'ui_workflow' %}
                        <th>Answer</th>
                        <th>Contexts</th>
                        <th>Ground Truth</th>
                        <th>Answer Correctness</th>
                        <th>Faithfulness</th>
                        <th>Answer Relevancy</th>
                        <th>Context Precision</th>
                        <th>Context Recall</th>
                        <th>Tokens</th>
                        <th>Cost / 1K Queries</th>
                    {% elif module_type == 'data_ingest' %}
                        <th>Retrieved Chunks</th>
                        <th>Relevance Scores</th>
                        <th>Weighted Score</th>
                        <th>Error</th>
                        <th>Latency</th>
                        <th>Timestamp</th>
                    {% elif module_type == 'retriever' %}
                        <th>Contexts</th>
                        <th>Ground Truth</th>
                        <th>Context Precision</th>
                        <th>Context Recall</th>
                        <th>F1 Score</th>
                        <th>Error</th>
                        <th>Latency</th>
                        <th>Timestamp</th>
                    {% elif module_type == 'generation' %}
                        <th>Answer Correctness</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for detail in details %}
                    <tr>
                        <td>{{ detail.question_id }}</td>
                        <td>
                            <span class="expandable-text">{{ detail.question[:30] if detail.question is not none else '(null)' }}<span class="ellipsis">...</span></span>
                            <div class="full-text" style="display: none;">{{ detail.question }}</div>
                            <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                        </td>
                        {% if module_type == 'ui_workflow' %}
                            <!-- UI Workflow specific columns -->
                            <td>
                                <span class="expandable-text">{{ detail.answer[:30] if detail.answer is not none else '(null)' }}<span class="ellipsis">...</span></span>
                            <div class="full-text" style="display: none;">{{ detail.answer }}</div>
                            <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>
                                <span class="expandable-text">{{ detail.contexts[:30] if detail.contexts is not none else '(null)' }}<span class="ellipsis">...</span></span>
                                <div class="full-text" style="display: none;">{{ detail.contexts }}</div>
                                <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>
                                <span class="expandable-text">{{ detail.ground_truth[:30] if detail.ground_truth is not none else '(null)' }}<span class="ellipsis">...</span></span>
                                <div class="full-text" style="display: none;">{{ detail.ground_truth }}</div>
                                <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>{{ detail.answer_correctness }}</td>
                            <td>{{ detail.faithfulness }}</td>
                            <td>{{ detail.answer_relevancy }}</td>
                            <td>{{ detail.context_precision }}</td>
                            <td>{{ detail.context_recall }}</td>
                            <td>{{ detail.tokens }}</td>
                            <td>${{ detail.cost }}</td>
                        {% elif module_type == 'data_ingest' %}
                            <!-- Data Ingest specific columns -->
                            <td>
                                <span class="expandable-text">{{ detail.retrieved_chunks[:30] if detail.retrieved_chunks is not none else '(null)' }}<span class="ellipsis">...</span></span>
                                <div class="full-text" style="display: none;">{{ detail.retrieved_chunks }}</div>
                                <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>
                                <span class="expandable-text">{{ detail.relevance_scores[:30] if detail.relevance_scores is not none else '(null)' }}<span class="ellipsis">...</span></span>
                                <div class="full-text" style="display: none;">{{ detail.relevance_scores }}</div>
                                <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>{{ "%.2f"|format(detail.weighted_score) if detail.weighted_score is not none else '(null)' }}</td>
                            <td>{{ detail.error if detail.error is not none else '' }}</td>
                            <td>🕓 {{ "%.2f"|format(detail.latency) if detail.latency is not none else '(null)' }}</td>
                            <td>{{ detail.eval_timestamp }}</td>
                        {% elif module_type == 'retriever' %}
                            <!-- Retriever specific columns -->
                            <td>
                                <span class="expandable-text">{{ detail.contexts[:30] if detail.contexts is not none else '(null)' }}<span class="ellipsis">...</span></span>
                                <div class="full-text" style="display: none;">{{ detail.contexts }}</div>
                                <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>
                                <span class="expandable-text">{{ detail.ground_truth[:30] if detail.ground_truth is not none else '(null)' }}<span class="ellipsis">...</span></span>
                                <div class="full-text" style="display: none;">{{ detail.ground_truth }}</div>
                                <a href="javascript:void(0);" style="text-decoration:none;" class="toggle-text">➕</a>
                            </td>
                            <td>{{ "%.2f"|format(detail.context_precision) if detail.context_precision is not none else '(null)' }}</td>
                            <td>{{ "%.2f"|format(detail.context_recall) if detail.context_recall is not none else '(null)' }}</td>
                            <td>{{ "%.2f"|format(detail.f1_score) if detail.f1_score is not none else '(null)' }}</td>
                            <td>{{ detail.error if detail.error is not none else '' }}</td>
                            <td>🕓 {{ "%.2f"|format(detail.latency) if detail.latency is not none else '(null)' }}</td>
                            <td>{{ detail.eval_timestamp }}</td>
                        {% else %}
                            <td>{{ "%.2f"|format(detail.answer_correctness) if detail.answer_correctness is not none else '(null)' }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('.toggle-text').click(function() {
            console.log('Toggle clicked');
            var expandableText = $(this).siblings('.expandable-text');
            var fullText = $(this).siblings('.full-text');
            // console.log('Expandable Text:', expandableText.length);
            // console.log('Full Text:', fullText.length);

            if (expandableText.is(':visible')) {
                expandableText.hide();
                fullText.show();
                $(this).text('➖');
            } else {
                expandableText.show();
                fullText.hide();
                $(this).text('➕');
            }
        });
    });
</script>
{% endblock content %}